@media (max-width: 768px) {
    .sobre-caixa {
        width: 90%;
        height: auto;
    }

    .projetos-card {
        width: 90%;
    }

    .menu-link:hover::after {
        width: 0 !important;
    }

    .menu-link:hover {
        color: inherit;
        background: none;
        text-decoration: none;
        cursor: default;
    }
}

@media (max-width: 480px) {
    .foto-perfil {
        width: 200px;
        height: 200px;
    }

    h1 {
        font-size: 2.5rem;
    }

    .cabecalho-sub-titulo {
        font-size: 1.1rem;
    }

    .menu {
        gap: 5px;
        font-size: 14px;
    }

    .menu-link:hover::after {
        width: 0 !important;
    }

    .menu-link:hover {
        color: inherit;
        background: none;
        text-decoration: none;
        cursor: default;
    }

    .sobre-caixa {
        width: 90%;
        height: auto;
    }

    .projetos-card {
        width: 90%;
    }

    .grid {
        grid-template-columns: repeat(2, 100px);
        gap: 30px;
        padding: 20px;
    }

    .card {
        width: 100px;
        height: 100px;
    }

    .projetos-caixa {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .projetos-card {
        width: 80%;
        height: auto;
    }
}